*{
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    margin: 0;
    padding: 0;
    border: 2px solid pink;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 8rem 1fr;
}

header{
    display: grid;
    place-content: center;
}

main{
    border: 1px solid black;
    display: grid;
    place-content: center;
}

.gameBoard{
    background-color: black;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:2px;
}

.gameCell{
    background-color: white;
    width: 8rem;
    height: 8rem;
    display: grid;
    place-content: center;
    font-size: 5rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > *{
    margin: 1rem;
}

